<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>のばなし園</title>
  <script src="js/jquery.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/lightbox.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <meta name="robots" content="noindex,noarchive,nofollow,noimageindex">
</head>

<body>
<nav id="globalnav" class="colorchange">
  <div class="globalnav_bg"></div>
  <div class="container">
    <h1 class="logo"><a href="index.html">のばなし園</a></h1>
    
    <p id="menubtn">&#9776;</p>

    <!-- メニューリスト -->
    <ul id="navmenu">
      <li><a href="index.html#about">ご案内</a></li>
      <li><a href="index.html#gallery">展示物</a></li>
      <li><a href="index.html#contact">お問合せ先</a></li>
    </ul>

    <!-- ここに移動：一番右（メニューのあと）に配置 -->
    <div class="top-news-box">
      <dl class="news-inline">
        <dt>2026.06.20</dt>
        <dd>ウェブサイト開設。</dd>
        <dt>2026.06.20</dt>
        <dd>2行目のテスト。</dd>
      </dl>
    </div>

  </div>
</nav>

<header id="eyecatch"> 
  <img src="img/top.jpg" alt="TEMPLATE" class="top-pc">
  <img src="img/top.jpg" alt="TEMPLATE" class="top-phone">
</header>
<!--
スマホの時トップ画像を切り替える場合2行目class="top-phone
 -->
<main>

  <section class="about-section"> <!-- ABOUTセクションはじまり -->
    <div class="container">
      <h2 id="about">ご 案 内</h2>
      <h4>このウェブサイトについて</h4>
      <p>こちらに掲載している作品は全て個人の趣味により作成されたものであり、公式作品・関係者様とは一切関係ありません。</p>
      <h4>禁止事項</h4>
      <p>ウェブサイト内に掲載された画像・文章の無断転載・利用、及びAI学習使用を禁止します。</p>

    </div>
  </section> <!-- ABOUTセクションおわり -->



  
  <section> <!-- GALLERYセクションはじまり -->
    <div class="container">

      <h2 id="gallery">展 示 物</h2>

      <p class="center">ギャラリーには<a href="https://do.gt-gt.org/product/lightbox/" target="_blank">lightbox</a>を使用しています。<br>
      中央寄せしたい段落にはclass="center"を付けてください。</p>

      <ul class="illust">
        <li><a href="img/01.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/01-s.jpg"></a></li>
        <li><a href="img/02.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/02-s.jpg"></a></li>
        <li><a href="img/01.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/01-s.jpg"></a></li>
        <li><a href="img/02.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/02-s.jpg"></a></li>
        <li><a href="img/01.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/01-s.jpg"></a></li>
        <li><a href="img/02.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/02-s.jpg"></a></li>
        <li><a href="img/01.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/01-s.jpg"></a></li>
        <li><a href="img/02.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/02-s.jpg"></a></li>
        <li><a href="img/01.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/01-s.jpg"></a></li>
        <li><a href="img/02.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/02-s.jpg"></a></li>
        <li><a href="img/01.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/01-s.jpg"></a></li>
        <li><a href="img/02.jpg" data-lightbox="illust" data-title="ここに説明"><img src="img/02-s.jpg"></a></li>
      </ul>



      <p class="center">
        <a href="/nobanashi/slick_custom_ver2.1/comic/" class="btn">漫画を読む</a>
      </p>

    </div>

  </section> <!-- GALLERYセクションおわり -->



  

<!-- 最上部に戻るボタン -->
<a href="#" id="totop"></a>
<!-- 最上部に戻るボタン終わり -->



  
<!-- フッター-->
<footer>
<div class="container">

  <div class="wrap-3col">  <!-- wrap-3colここから -->

    <div class="inner">
      <h1 id="contact">のばなし園</h1>
      <p class="memo">https://aknbns.github.io/nobanashi/template/index.html<br>
      管理者名　あこう<br>
      メールアドレス　</p>
      <p class="memo">リンクフリー・etc...<br>
      サイトについての情報を書いてもいい感じ<br>
      バナーを貼ってもOK</p>
    </div>  <!-- inner左カラムここまで -->

    <div class="inner">

      
    </div>  <!-- inner中央カラムここまで -->

    <div class="inner">
      <p>twitterタイムラインなどはここに埋め込んでも〇</p>
    </div>  <!-- inner右カラムここまで -->

  </div>  <!-- wrap-3colここまで -->
<!-- フッター終わり -->



  
<p id="copyright"><a href="https://do.gt-gt.org/" target="_blank">template by do.</a></p>

</div>
</footer>

<script src="js/common.js"></script>
<script src="js/lightbox.js"></script>
</body>

</html>
