@charset "UTF-8";
/* ==========================================
   Template: modern（https://do.gt-gt.org/）
   Copyright: 2020 do.
   利用規約を遵守の上お使いください。二次配布・販売を禁じます
   ========================================== */
/* ==========================================
  リセットCSS
  基本的には触らないでください
  ========================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Josefin+Sans:wght@300;500&display=swap");

input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ol,
ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
img,
p {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  height: 1px;
  background: #f1eded;
  margin: 2em auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  line-height: 1.6em;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: -webkit-box;
  display: flex;
}

.wrap {
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 768px) {
  .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media (min-width: 768px) and (max-width: 1029px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1030px) {
  .container {
    max-width: 960px;
  }
}

body {
  background: #ffffff;
  overflow-x: hidden;
  color: #242424;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

section {
  padding: 30px 0;
}

section.bgcolor2 {
  background: #f5f2f2;
}

section.bgcolor3 {
  background: #e8e8e8;
}

ul.list {
  list-style: none;
  margin: 1.5em 0;
}

ul.list li {
  position: relative;
  margin-left: 25px;
  margin-bottom: 5px;
}

ul.list li:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #8b0000;
  position: absolute;
  margin: auto;
  top: 9px;
  left: -20px;
}

ol.list {
  list-style: none;
  list-style-type: none !important;
  counter-reset: number;
  margin: 1.5em 0;
}

ol.list li {
  position: relative;
  margin-left: 25px;
  margin-bottom: 5px;
}

ol.list li:before {
  position: absolute;
  counter-increment: number;
  content: counter(number);
  font-family: "Noto Serif JP", "YuMincho", "Hiragino Mincho ProN";
  position: absolute;
  margin: auto;
  top: 6px;
  left: -25px;
  background: #8b0000;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  text-align: center;
  line-height: 18px;
}

dl.list dt {
  position: relative;
  margin-left: 25px;
  font-weight: bold;
  font-size: 110%;
}

dl.list dt:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #8b0000;
  position: absolute;
  margin: auto;
  top: 9px;
  left: -20px;
}

dl.list dd {
  margin: 10px 0 1em 1em;
}

dl.list dd > *:first-of-type {
  margin-top: 0;
}

small {
  font-size: 80%;
}

strong.large {
  font-size: 150%;
}

strong.marker {
  background: #f1fc40;
}

.wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.wrap .inner {
  -webkit-box-flex: 1;
          flex: 1;
  margin-bottom: 30px;
}

.wrap-3col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.wrap-3col .inner {
  -webkit-box-flex: 1;
          flex: 1;
  margin-bottom: 30px;
}

h1 {
  font-family: "Noto Serif JP", "YuMincho", "Hiragino Mincho ProN";
}

h2  {
  font-family: "Noto Serif JP", "YuMincho", "Hiragino Mincho ProN";
  text-align: left;
}

h3 {
  font-family: "Noto Serif JP", "YuMincho", "Hiragino Mincho ProN";
  border-left: 3px solid #8b0000;
  padding: 0px 15px;
  margin: 2em 0 1em;
}

h4 {
  font-family: "Noto Serif JP", "YuMincho", "Hiragino Mincho ProN";
  margin: 2em 0 0em;
}

h5 {
  font-family: "Noto Serif JP", "YuMincho", "Hiragino Mincho ProN";
  font-size: 18px;
  margin: 10px auto 5px;
}

p.center {
  text-align: center;
}

blockquote {
  background: #f5f4f4;
  margin: 2em 0;
  padding: 15px;
  border-left: 3px solid #ada5a5;
}

blockquote > *:first-of-type {
  margin-top: 0;
}

blockquote > *:last-of-type {
  margin-bottom: 0;
}

table, td, th {
  border: 1px solid #dcdcdc;
  border-collapse: collapse;
}

td, th {
  padding: 5px 10px;
}

th {
  background: #fdffda;
}

table.center {
  margin: 20px auto;
}

.box {
  background: #f1fc40;
  margin: 2em 0;
  padding: 15px;
}

.box > *:first-of-type {
  margin-top: 0;
}

.box > *:last-of-type {
  margin-bottom: 0;
}

a {
  color: #8b0000;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
}

a:focus, a:visited, a:active {
  color: #8b0000;
}

a:hover {
  color: #409c10;
}

ul ul {
  margin-left: 1em;
  margin-bottom: 10px;
}

a.btn {
  display: block;
  background: #8b0000;
  color: black;
  padding: 10px 30px;
  text-align: center;
  min-width: 250px;
  width: fit-content;
  margin: 20px auto;
  transition: .3s;
}

a.btn:hover {
  background: #f1fc40;
}

p {
  margin: 1.5em 0;
}

dl.news {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted #b8b8b8;
}

dl.news dt {
  font-weight: bold;
  padding: 0;
  line-height: 1.2;
}

dl.news dd {
  padding: 5px 0 10px 0;
  margin: 0;
}

nav#globalnav {
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;
}

nav#globalnav .globalnav_bg {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 1;
}

header {
  background-color: #000000;
  height: 100vh;
}

header img {
  width: 100%;
  max-width: 960px;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

/* h2下線左寄せ */
h2:after {
  margin: 10px 0 40px;
}

@media only screen and (min-width: 1030px) {
  footer p.copyright {
    text-align: right;
  }
  .card-wrapper .card {
    width: 31%;
  }
}
